nav.tab-bar,
nav.top-bar,
.footer-panel {
    background-color: #484848;  /* darker grey */
}

a.tab-bar-title:link,
a.tab-bar-title:active,
a.tab-bar-title:visited,
a.tab-bar-title:hover {
    color: #fff;  /* white */
}

.footer-panel {
    padding: 0.5rem 0 1rem;
    text-align: center;
    color: #fff; /* white */
}

.footer-copyright {
    margin-bottom: 0;
    padding-top: 1rem;
    font-size: 0.75rem;
}
