<!doctype html>
<html class="no-js" lang="en" ng-app="BabyPlanApp">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>YutYut Health - Find Your Midwife</title>

    <link rel="stylesheet" href="css/foundation/foundation.css"/>
    <link rel="stylesheet" href="css/foundation/icons/foundation-icons.css"/>
    <link rel="stylesheet" href="app/common/main.css"/>
    <link rel="stylesheet" href="app/pages/find_midwife/find_midwife.css"/>

    <link rel="shortcut icon" href="img/favicon/yy_16x16.ico"/>

    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="app/common/localStorage.js" type="text/javascript"></script>
    <script src="app/common/browserSupport/browserSupport.js" type="text/javascript"></script>
    <script src="app/pages/find_midwife/find_midwife.js" type="text/javascript"></script>

    <script src="js/modernizr.js"></script>
</head>

<body ng-controller="FindMidwifeController">

<div class="row">
    <div class="small-12 columns">
        <!-- nav for small screen -->
        <nav class="tab-bar show-for-small">
            <section class="middle tab-bar-section">
                <h1>
                    <a href="index.html" class="tab-bar-title">Home</a>
                </h1>
            </section>
        </nav>

        <!-- nav for medium screens and up -->
        <nav class="top-bar hide-for-small" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1>
                        <a href="index.html">Home</a>
                    </h1>
                </li>
            </ul>
        </nav>

        <!-- main content -->
        <section>
            <h2 class="page-title-panel">
                Find Your Midwife
            </h2>

            <hr class="page-title-separator"/>

            <div class="panel radius">
                <div class="row">
                    <div class="small-12 medium-9 large-10 columns">
                        <h4>
                            Elizabeth Sloane RN, LM, CPM
                        </h4>
                    </div>
                    <div class="medium-3 large-2 columns hide-for-small online-now-button-panel">
                        <a href="online_appointment_midwife.html" ng-click="selectMidwife('elizabeth', 'sloane', 'rn, lm, cpm')"
                           class="button tiny radius online-now-button online-now-active">Online Now</a>
                    </div>
                </div>

                <div class="row">
                    <div class="small-6 medium-12 columns">
                        <i class="fi-star rating-color"></i>
                        <i class="fi-star rating-color"></i>
                        <i class="fi-star rating-color"></i>
                        <i class="fi-star rating-color"></i>
                        <i class="fi-star rating-color"></i>
                    </div>
                    <div class="small-6 columns show-for-small online-now-button-panel">
                        <a href="online_appointment_midwife.html" ng-click="selectMidwife('elizabeth', 'sloane', 'rn, lm, cpm')"
                           class="button tiny radius online-now-button online-now-active">Online Now</a>
                    </div>
                </div>

                <div class="media-content-panel">
                    <div class="row">
                        <div class="small-4 medium-2 columns">
                            <img data-interchange="[img/no_photo/caduceus_90x107.jpg, (only screen)], [img/no_photo/caduceus_54x64.jpg, (small)]]">
                            <noscript><img src="img/no_photo/caduceus_90x107.jpg"></noscript>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel radius">
                <div class="row">
                    <div class="small-12 medium-9 large-10 columns">
                        <h4>
                            Katherine Gonzaga
                        </h4>
                    </div>
                    <div class="medium-3 large-2 columns hide-for-small online-now-button-panel">
                        <a href="online_appointment_midwife.html" ng-click="selectMidwife('katherine', 'gonzaga')"
                           class="button tiny radius online-now-button online-now-active">Online Now</a>
                    </div>
                </div>

                <div class="row">
                    <div class="small-6 medium-12 columns">
                        <i class="fi-star rating-color"></i>
                        <i class="fi-star rating-color"></i>
                        <i class="fi-star rating-color"></i>
                        <i class="fi-star rating-color"></i>
                    </div>
                    <div class="small-6 columns show-for-small online-now-button-panel">
                        <a href="online_appointment_midwife.html" ng-click="selectMidwife('katherine', 'gonzaga')"
                           class="button tiny radius online-now-button online-now-active">Online Now</a>
                    </div>
                </div>

                <div class="media-content-panel">
                    <div class="row">
                        <div class="small-4 medium-2 columns">
                            <img data-interchange="[img/no_photo/caduceus_90x107.jpg, (only screen)], [img/no_photo/caduceus_54x64.jpg, (small)]]">
                            <noscript><img src="img/no_photo/caduceus_90x107.jpg"></noscript>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel radius">
                <div class="row">
                    <div class="small-12 medium-9 large-10 columns">
                        <h4>
                            Jennifer Wagner LM, CPM
                        </h4>
                    </div>
                    <div class="medium-3 large-2 columns hide-for-small online-now-button-panel">
                        <a href="online_appointment_midwife.html" ng-click="selectMidwife('jennifer', 'wagner', 'lm, cpm')"
                           class="button tiny radius online-now-button online-now-active">Online Now</a>
                    </div>
                </div>

                <div class="row">
                    <div class="small-6 medium-12 columns">
                        <i class="fi-star rating-color"></i>
                        <i class="fi-star rating-color"></i>
                        <i class="fi-star rating-color"></i>
                    </div>
                    <div class="small-6 columns show-for-small online-now-button-panel">
                        <a href="online_appointment_midwife.html" ng-click="selectMidwife('jennifer', 'wagner', 'lm, cpm')"
                           class="button tiny radius online-now-button online-now-active">Online Now</a>
                    </div>
                </div>

                <div class="media-content-panel">
                    <div class="row">
                        <div class="small-4 medium-2 columns">
                            <img data-interchange="[img/no_photo/caduceus_90x107.jpg, (only screen)], [img/no_photo/caduceus_54x64.jpg, (small)]]">
                            <noscript><img src="img/no_photo/caduceus_90x107.jpg"></noscript>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer-panel">
            <p class="footer-copyright">
                &copy; 2014 YutYut, Inc. All rights reserved.
            </p>
        </footer>
    </div>
</div>

<script src="js/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
