<!doctype html>
<html class="no-js" lang="en" ng-app="ngTestingApp">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>ng Testing - Home</title>

    <link rel="stylesheet" href="css/foundation/foundation.css"/>
    <link rel="stylesheet" href="css/foundation/icons/foundation-icons.css"/>
    <link rel="stylesheet" href="app/common/main.css"/>
    <link rel="stylesheet" href="app/pages/index2/index2.css"/>

    <link rel="shortcut icon" href="img/favicon/yy_16x16.ico"/>

    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="app/common/localStorage.js" type="text/javascript"></script>
    <script src="app/pages/index2/index2.js" type="text/javascript"></script>

    <script src="js/modernizr.js"></script>
</head>

<body>

<div class="row">
    <div class="small-12 columns">
        <!-- nav for small screen -->
        <nav class="tab-bar show-for-small">
            <section class="middle tab-bar-section">
                <h1>
                    <a href="index.html" class="tab-bar-title">ng Testing - Home</a>
                </h1>
            </section>
        </nav>

        <!-- nav for medium screens and up -->
        <nav class="top-bar hide-for-small" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1>
                        <a href="index.html">ng Testing - Home</a>
                    </h1>
                </li>
            </ul>
        </nav>

        <!-- main content -->
        <section>
            <h1>Welcome {{ name }}!</h1>

            <label>
                <input type="text" placeholder="name" ng-model="name"/>
            </label>

            <hr/>

            <h2>Local Storage</h2>

            <div ng-controller="AppStorageController">
                <p>
                    <a href ng-click="clearAppStorage();reloadPage()">clear local storage</a><br/>
                    contents: {{ ngTestAppStorage }}
                </p>

                <p>
                </p>

                <p>
                    <label>
                        <input type="text" placeholder="username" ng-model="ngTestAppStorage.username"/>
                    </label>
                </p>

                <p>
                    <label for="rememberMeCheckbox" class="inline-label">remember me:</label>
                    <input type="checkbox" id="rememberMeCheckbox" ng-model="ngTestAppStorage.rememberMe"/>
                </p>
            </div>

            <p ng-repeat="i in [0,1,2,3]" ng-controller="OtherController">
                <label for="numberedCheckbox" class="inline-label">{{ i }}:</label>
                <input type="checkbox" id="numberedCheckbox" ng-model="ngTestAppStorage.options[i]"/>
            </p>
        </section>

        <footer class="footer-panel">
            <p class="footer-copyright">
                &copy; 2014 YutYut Skunkworks, Inc. All rights reserved.
            </p>
        </footer>
    </div>
</div>

<script src="js/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
