.pregnant-image-panel {
    text-align: center;
}

.first-paragragh-panel {
    margin-top: 1rem;
}

.workflow-panel {
    line-height: 3.75rem;
    text-align: center;
}

.workflow-icon-panel {
    vertical-align: sub;
}

.workflow-icon {
    font-size: 3.75rem;
}

.workflow-icon-text {
    margin-left: 1rem;
    vertical-align: super;
    font-size: 1.15rem;
    text-transform: uppercase;
}

.baby-plan-icon {
    color: #ffc0cb; /* pink */
}

.upcoming-features-icon {
    color: #1e90ff; /* dodgerblue */
}

.survey-icon {
    color: #ffd700; /* gold */
}
