.online-appointment-midwife-label {
    margin-bottom: 1.25rem;
}

.online-appointment-midwife-image-panel,
.appointment-summary-button-panel {
    text-align: center;
}

.appointment-summary-button-panel {
    margin-top: 1.25rem;
}
