.row .row {
    margin: 0;
}

.baby-plan-title {
    display: inline;
}

.reset-plan-button {
    margin-left: 1.75rem;
    vertical-align: super;
}

a.reset-plan-button:link,
a.reset-plan-button:active,
a.reset-plan-button:visited,
a.reset-plan-button:hover,
.reset-plan-button {
    background: #6495ed; /* cornflowerblue */
}

.section-top-separator,
.row .row.plan-control-panel {
    margin-top: 0;
    margin-bottom: 0.75rem;
}

.plan-control-selector {
    text-align: right;
}

.section-panel {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.plan-panel-title {
    text-align: center;
}

.pregnancy-plan-section,
.pregnancy-plan-panel {
    background: #87cefa; /* lightskyblue */
}

.appointment-row {
    background: #ffff00; /* yellow */
}

.nutrition-row {
    background: #32cd32; /* limegreen */
}

.labs-row {
    background: #4b0082; /* indigo */
}

.dark-row-panel {
    color: #fff; /* white */
}

.category-row-icon-panel {
    line-height: 1.75rem;
    text-align: center;
}

.category-row-content-panel {
    line-height: 1.25rem;
}

.appointment-timestamp {
    font-size: 0.85rem
}
