.plan-controls-top-separator,
.row .row.plan-control-panel {
    margin-bottom: 0.5rem;
}

.plan-control-selector {
    text-align: right;
}

.plan-controls-bottom-separator {
    margin-top: 0;
}

.plan-section-title {
    margin: 0 1rem 0;
}

.plan-panel-title {
    text-align: center;
}

.pregnancy-plan-section,
.pregnancy-plan-panel {
    background-color: #87cefa; /* lightskyblue */
}

.birth-plan-section,
.birth-plan-panel {
    background-color: #ffc0cb; /* pink */
}

.category-row {
    line-height: 1.5rem;
}

.appointment-row {
    background: #ffff00; /* yellow */
}

.nutrition-row {
    background: #32cd32; /* limegreen */
}

.category-row-icon-panel {
    text-align: center;
}

.appointment-timestamp {
    font-size: 0.85rem
}

.category-row-inactive {
    color: grey;
}
