section > div {
    margin-top: 1.25rem;
}

.online-now-button-panel {
    text-align: right;
}

.online-now-button {
    margin-bottom: 0;
}

a.online-now-active:link,
a.online-now-active:active,
a.online-now-active:visited,
a.online-now-active:hover,
.online-now-active {
    background: #32cd32; /* lime green */
}

.rating-color {
    color: #ffd700; /* gold */
}

.media-content-panel {
    margin-top: 1rem;
}

.specialties-content {
    margin-bottom: 1rem;
}

.schedule-appointment-button-panel {
    text-align: right;
}

.schedule-appointment-button {
    margin-top: 1rem;
    margin-bottom: 0;
}
