<h3>
    {{ ordinalTrimesterLabel }} Trimester: {{ weeks }}
</h3>

<hr/>

<div class="caloric-factors-panel">
    <label>
        <h4>
            Age <input class="two-digit-input" maxlength="2"
                       ng-model="age"
                       ng-change="ageChanged()"
                       ng-delay="2000"/>
        </h4>
    </label>

    <label>
        <h4>
            Height
            <input class="one-digit-input" maxlength="1"
                   ng-model="heightFeet"
                   ng-change="heightFeetChanged()"
                   ng-delay="2000"/> ft
            <input class="two-digit-input" maxlength="2"
                   ng-model="heightInches"
                   ng-change="heightInchesChanged()"
                   ng-delay="2000"/> in
        </h4>
    </label>

    <label>
        <h4>
            Weight <input class="three-digit-input" maxlength="3"
                          ng-model="weightInPounds"
                          ng-change="weightInPoundsChanged()"
                          ng-delay="2000"/> lbs
        </h4>
    </label>
</div>

<hr/>

<h3 class="caloric-result-panel">
    Total = {{ caloriesPerDay | number:0 }} calories / day
</h3>
