<div class="calorie-section-panel calorie-calculator-panel">
    <h3 class="calorie-calculator-title">
        Calorie Calculator
    </h3>

    <div class="row">
        <div class="small-12 medium-8 large-7 small-centered columns">
            <div class="panel callout radius">
                <div class="row">
                    <div class="small-3 medium-6 columns caloric-factor-label">
                        <h4>
                            Age
                        </h4>
                    </div>
                    <div class="small-9 medium-6 columns">
                        <label>
                            <input type="number" class="two-digit-input" maxlength="2"
                                   ng-model="age"
                                   ng-change="ageChanged()"
                                   ng-delay="3000"/>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-3 medium-6 columns caloric-factor-label">
                        <h4>
                            Height
                        </h4>
                    </div>
                    <div class="small-9 medium-6 columns caloric-input-columns">
                        <label class="caloric-factor-input">
                            <input type="number" class="one-digit-input" maxlength="1"
                                   ng-model="heightFeet"
                                   ng-change="heightFeetChanged()"
                                   ng-delay="3000"/>
                        </label>
                        <h4 class="input-unit">ft</h4>
                        <label class="caloric-factor-input">
                            <input type="number" class="two-digit-input" maxlength="2"
                                   ng-model="heightInches"
                                   ng-change="heightInchesChanged()"
                                   ng-delay="3000"/>
                        </label>
                        <h4 class="input-unit">in</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="small-3 medium-6 columns caloric-factor-label">
                        <h4>
                            Weight
                        </h4>
                    </div>
                    <div class="small-9 medium-6 columns caloric-input-columns">
                        <label class="caloric-factor-input">
                                <input type="number" class="three-digit-input" maxlength="3"
                                       ng-model="weightInPounds"
                                       ng-change="weightInPoundsChanged()"
                                       ng-delay="3000"/>
                        </label>
                        <h4 class="input-unit">lbs</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 medium-6 columns caloric-factor-label trimester-factor-label">
                        <h4>
                            {{ ordinalTrimesterLabel }} Trimester
                        </h4>
                    </div>
                    <div class="small-12 medium-6 columns caloric-factor-input trimester-factor-input">
                        <h4>
                            {{ weeks }}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="section-middle-separator"/>

<h3 class="calorie-section-panel caloric-result-panel">
    Total: {{ caloriesPerDay | number:0 }} calories / day
</h3>
