.calorie-section-panel {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.75rem 1rem;
}

.section-middle-separator {
    margin-top: 0;
    margin-bottom: 0;
}

.calorie-calculator-panel {
    background: #3f8ac9;
}

.calorie-calculator-title {
    margin-top: 0;
    text-align: center;
    color: #fff; /* white */
}

.caloric-factor-label {
    text-align: right;
}

.trimester-factor-label {
    text-align: center;
}

.caloric-factor-input {
    text-align: left;
}

.trimester-factor-input {
    text-align: center;
}

/* medium screens */
@media only screen and (min-width: 40.063em) {
    .trimester-factor-label {
        text-align: right;
    }

    .trimester-factor-input {
        text-align: left;
    }
}

/*
 remove the spinners from the input type number for webkit-based browsers
*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*
 remove the spinners from the input type number for firefox
*/
input[type=number] {
    -moz-appearance: textfield;
}

input[type=number].one-digit-input,
input[type=number].two-digit-input,
input[type=number].three-digit-input {
    display: inline;
    margin-bottom: 0;
    font-size: 1.25rem;
    text-align: center;
}

input[type=number].one-digit-input {
    width: 3rem;
}

input[type=number].two-digit-input {
    width: 3.5rem;
}

input[type=number].three-digit-input {
    width: 4rem;
}

.caloric-input-columns {
    margin-bottom: 0.5rem;
}

.caloric-factor-input,
.input-unit {
    display: inline;
}

.caloric-result-panel {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    background: #32cd32; /* lime green */
}

.baby-plan-button-panel {
    margin-top: 1.25rem;
    text-align: center;
}
