.plan-control-label {
    line-height: 2.5rem;
}

/* dropdown button down-facing triangle */
.dropdown.button.small:before {
    border-color: #000 transparent transparent transparent;
}

a.plan-control-button:link {
    background: #fffacd; /* lemonchiffon */
    color: #000;
}

a.plan-control-button:active {
    background: #fffacd; /* lemonchiffon */
    color: #000;
}

a.plan-control-button:visited {
    background: #fffacd; /* lemonchiffon */
    color: #000;
}

a.plan-control-button:hover {
    background: #fffacd; /* lemonchiffon */
    color: #000;
}

.plan-controls-bottom-separator {
    margin-top: 0;
    margin-bottom: 0;
}

.pregnancy-plan-section {
    background-color: #87cefa; /* lightskyblue */
}

.plan-section-title {
    margin: 0 1rem 0;
}

.birth-plan-section {
    background-color: #ffc0cb; /* pink */
}
