.plan-control-label {
    line-height: 2.5rem;
}

.plan-control-button-label {
    margin-left: 0.5rem;
}

/* dropdown button down-facing triangle */
.dropdown.button.small:before {
    border-color: #000 transparent transparent transparent;
}

.plan-control-button:link,
.plan-control-button:active,
.plan-control-button:visited,
.plan-control-button:hover {
    background: #6495ed; /* cornflowerblue */
    color: #000;
}

.appointments-control-button:link,
.appointments-control-button:active,
.appointments-control-button:visited,
.appointments-control-button:hover,
.appointment-row {
    background: #ffff00; /* yellow */
}

.f-dropdown li a {
    display: inline-block;
}

.category-dropdown-icon {
    margin-left: 1rem;
}

.category-dropdown-all-item {
    margin-left: 2rem;
}

.category-row {
    line-height: 1.5rem;
}

.category-row-icon-panel {
    text-align: center;
}

.nutrition-panel {
    background: #adff2f; /* greenyellow */
}

.plan-controls-bottom-separator {
    margin-top: 0;
}

.pregnancy-plan-section,
.pregnancy-plan-panel {
    background-color: #87cefa; /* lightskyblue */
}

.plan-section-title {
    margin: 0 1rem 0;
}

.plan-panel-title {
    text-align: center;
}

.birth-plan-section,
.birth-plan-panel {
    background-color: #ffc0cb; /* pink */
}
