.plan-control-label {
    line-height: 2.5rem;
}

/* dropdown button down-facing triangle */
.dropdown.button.small:before {
    border-color: #000 transparent transparent transparent;
}

a.plan-control-button:link,
a.plan-control-button:active,
a.plan-control-button:visited,
a.plan-control-button:hover {
    background: #fffacd; /* lemonchiffon */
    color: #000;
}

.plan-controls-bottom-separator {
    margin-top: 0;
    /*margin-bottom: 0;*/
}

.pregnancy-plan-section,
.pregnancy-plan-panel {
    background-color: #87cefa; /* lightskyblue */
}

.plan-section-title {
    margin: 0 1rem 0;
}

.plan-panel-title {
    text-align: center;
}

.birth-plan-section,
.birth-plan-panel {
    background-color: #ffc0cb; /* pink */
}
